#section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section3 h1 {
  background: linear-gradient(
    133deg,
    rgba(30, 92, 230, 1) 49%,
    rgba(25, 59, 222, 1) 79%
  );
  background-clip: text;
  color: transparent;
  font-family: var(--titulos);
  font-weight: 800;
  font-size: clamp(2.5rem, 3rem, 3.5rem);
}