@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --titulos: "Plus Jakarta Sans";
  --textos: "Manrope";
  --azul-claro: #1e5ce6;
  --azul-escuro: #193bde;
}